*
{
  margin:0%;
  padding:0%; 
  box-sizing: border-box;
}
html, body
{
  height:100%;
  width:100%;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(51, 59, 59);
  color: whitesmoke;
}
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #ccc;
  border-top: 5px solid #800000; // maroon
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* 🎬 Animation */
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}